#grid{
    display: grid;
    /* border:  solid red 5px; */
    grid-template-columns: 100%;
    grid-template-rows: 3fr;
    gap: 30px;
}

.box{
    border: red solid 1px;
    
    box-sizing: border-box;
}